@using EntityLayer.Concrete
@model List<Notification>
@{
    ViewData["Title"] = "AllNotification";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Bildirimler</h1>
<table class="table table-border">
    <tr>
        <th>#</th>
        <th>Bildirim</th>
        <th>Tarih</th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.NotificationId</th>
            <td>@item.NotificationDetails</td>
            <td>
                @{
                    DateTime end = (DateTime)item.NotificationDate;
                    DateTime now = DateTime.Now;
                    TimeSpan diff = end.Subtract(now);
                }
                @if (diff.Days != 0)
                {
                    <p class="text-gray mb-0">@Convert.ToInt32(diff.ToString(@"dd"))  gün önce</p>
                }
                else if (diff.Days == 0 && diff.Hours != 0)
                {
                    <p class="text-gray mb-0">@Convert.ToInt32(diff.ToString(@"hh")) saat önce</p>
                }
                else if (diff.Days == 0 && diff.Hours == 0 && diff.Minutes != 0)
                {
                    <p class="text-gray mb-0">@Convert.ToInt32(diff.ToString(@"mm")) dakika önce</p>
                }
                else
                {
            <p class="text-gray mb-0">@Convert.ToInt32(diff.ToString(@"ss")) dakika önce</p>
                }
            </td>
        </tr>
    }
</table>

